@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --text: rgb(28, 36, 48);
  --key: #fcaf17;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #1d1e1f;
  --font-family-inter-tigth: "Inter Tight", sans-serif;
  --font-family-Roboto-mono: "Roboto Mono", monospace;
  --font-family-inter: "Inter", sans-serif;
}

body {
  /* Điều chỉnh giá trị này để phù hợp với chiều cao của header */
  font-family: var(--font-family-inter);
  position: relative;
  height: 100vh;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1332px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 24.2%;
  max-width: 24.2%;
}

.c-4 {
  flex: 0 0 32.33333%;
  max-width: 32.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 49.2%;
  max-width: 49.2%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) and (max-width: 767px) {
  .grid.wide {
    width: 396px;
  }
}

/* >= Tablet */
@media (min-width: 740px) {
  .m-0 {
    display: none;
  }

  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 24%;
    max-width: 24%;
  }
  .m-4-3 {
    flex: 0 0 31%;
    max-width: 31%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 49.44%;
    max-width: 49.44%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .l-0 {
    display: none;
  }

  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 19.2%;
    max-width: 19.2%;
  }

  .l-3 {
    flex: 0 0 24.36667%;
    max-width: 24.36667%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 990px) and (max-width: 1023px) {
  .wide {
    width: 915px;
  }
}
@media (min-width: 1279px) and (max-width: 1439px) {
  .wide {
    width: 1174px;
  }
}
@media (min-width: 768px) and (max-width: 989px) {
  .wide {
    width: 740px;
  }
}
